<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Django - File Uploads</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="David Robb" />
        <meta name="description" content="" />
        <meta property="og:image" content="./assets/logo.png" />
        <meta property="og:description" content="" />
        <meta property="og:title" content="" />
        <meta name="twitter:title" content="Django - File Uploads" />
        <link rel="icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
        <script src="{% static 'js/main.js' %}" defer></script>
        {% block head %}

        {% endblock head %}
    </head>
    <body>
        {% block content %}

        {% endblock content %}
    </body>
</html>